<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HungryHive"
        tools:targetApi="31">
        <activity
            android:name=".MyOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".FoodDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".ThankYouActivity"
            android:exported="false" />
        <activity
            android:name=".homeScreen"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".registerScreen"
            android:exported="false" />
        <activity
            android:name=".loginScreen"
            android:exported="false" />
        <activity
            android:name=".loginHome"
            android:exported="false" />
        <activity
            android:name=".welComeScreen"
            android:exported="false" />
        <activity
            android:name=".fastDelivery"
            android:exported="false" />
        <activity
            android:name=".findFood"
            android:exported="false" />
        <activity
            android:name=".splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>